<div class="heading-sect is-three-quarters-mobile">
    <h1 class="title is-1 has-text-centered">Doable</h1>
</div>

<div class="container">
<div class="add-todo">
    <form>
        <h3 class="title is-3 has-text-centered">Create new task</h3>

        <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input" type="text" placeholder="What do you want to get done?">
            </p>
            <p class="control">
              <a class="button gradient-button">
                <i class="fas fa-plus-square"></i> 
                 Add
              </a>
            </p>
          </div>
    </form>
</div>
</div>

