<div class="container">
  <h2 class="title is-2 has-text-centered mt-3">List Title</h2>
  <div class="has-text-centered">
    <button class="button is-success" (click)="add()"><i class="fas fa-plus"></i> Add task</button>
  </div>

<!-- <div class="add-todo">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <h3 class="title is-3 has-text-centered">Create new task</h3>

        <div class="field is-grouped">
            <p class="control is-expanded">
              <input ngModel #todoText="ngModel" required minlength=2 ngModel name="taskName" class="input" type="text"  placeholder="What do you want to get done?">
            </p>
            <p class="control">
              <button class="button gradient-button">
                <i class="fas fa-plus-square"></i>
                 Add
              </button>
            </p>
          </div>
          <p class="help is-danger" *ngIf="todoText.invalid">Enter your task here.</p>
          <p class="help is-danger" *ngIf="todoText.invalid">Task name must be at least 2 characters.</p>
    </form>
</div>
</div> -->


<section class="section">
  <div class="container">
    <div class="todo-list">
      <div class="todo-item" *ngFor="let item of items" [class.completed]="item.isDone">
        <a type="button" (click)="markDone(item.id)">
          <div class="check-box">
          <i class="fas fa-check"></i>
        </div>
        </a>

        <div class="todo-text">
          <p><strong>{{ item.taskName }}</strong></p>
          <p class="is-size-6">Created on: {{item.date}} </p>

          <button class="button is-info" (click)="edit(item.id)">Edit</button>
          <button class="button is-danger ml-2" (click)="delete(item.id)"> Delete</button>


        </div>
        <div class="todo-control">
          <div class="control-button" (click)="goUp(item.id, item.order)">
            <i class="fas fa-arrow-up"></i>
          </div>
          <div class="control-button" (click)="goDown(item.id, item.order)">
            <i class="fas fa-arrow-down"></i>
          </div>
        </div>

      </div>



    </div>
  </div>
</section>
