<div class="container">
<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
  {{errorMessage}}
</div>
<form (ngSubmit)="onSubmit()" #listForm="ngForm">
  <div class="field">
    <label for="name" class="label">Enter your list name here: </label>
    <input type="text" class="input" id="name" name="name" placeholder="List Name" [(ngModel)]="list.name"
           #name="ngModel" required>
    <label for="categoryColor" class="label">Color: </label>
    <select name="categoryColor" id="categoryColor" class="input" placeholder="List Color" [(ngModel)]="list.categoryColor" (change)="list.categoryColor">
      <option *ngFor="let color of colors" [value]="color" [selected]="color === list.categoryColor">{{color}}</option>
    </select>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
  </div>

  <button type="submit" class="button is-primary" *ngIf="isAdd" [disabled]="!listForm.form.valid || isSubmitted"><i class="fas fa-plus"></i> Add</button>
  <button type="submit" class="button is-primary" *ngIf="isEdit" [disabled]="!listForm.form.valid || isSubmitted"><i class="fas fa-save"></i> Save</button>
</form>

</div>
